// アニメーションの遅延
.animation-1 {
  animation-delay: calc(0 * $animation-interval);
}

.animation-2 {
  animation-delay: calc(1 * $animation-interval);
}

.animation-3 {
  animation-delay: calc(2 * $animation-interval);
}

.animation-4 {
  animation-delay: calc(3 * $animation-interval);
}

.animation-5 {
  animation-delay: calc(4 * $animation-interval);
}

.animation-6 {
  animation-delay: calc(5 * $animation-interval);
}

.animation-7 {
  animation-delay: calc(3 * $animation-interval);
}

.animation-8 {
  animation-delay: calc(4 * $animation-interval);
}

.animation-9 {
  animation-delay: calc(5 * $animation-interval);
}

// アニメーション
.fadeIn {
  animation-name: fadeInAnime;
  animation-timing-function: ease-out;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
