.fadeIn {
  animation-name: fadeInAnime;
  animation-timing-function: ease-out;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
