//  - Font sizes (px)
//  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

// - Spacing system (px)
// 2 / 4 / 8 / 12 / 16 / 20 / 24 / 32 / 48 / 64 / 80 / 96 / 128

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Zen Kaku Gothic New';
  line-height: 1.5;
  background-color: $black;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 24px;

  @include mq(md) {
    padding: 32px;
  }
}
