//  - Font sizes (px)
//  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

// - Spacing system (px)
// 2 / 4 / 8 / 12 / 16 / 20 / 24 / 32 / 48 / 64 / 80 / 96 / 128

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Zen Kaku Gothic New';
  line-height: 1.5;
  color: $black;

  &.side-nav-open {
    max-height: 100vh;
    overflow: hidden;
  }
}
.hide-over-xs {
  @include mq(xs) {
    display: none;
  }
}

.show-over-xs {
  display: none;

  @include mq(xs) {
    display: block;
  }
}

.show-over-sm {
  display: none;

  @include mq(sm) {
    display: block;
  }
}

h1,
h2,
h3 {
  font-family: 'Zen Antique';
  color: $white;
}

.black {
  background-color: $black;
}

.white {
  background: $white !important;
}

.grid {
  display: grid;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;

  @include mq(sm) {
    padding: 0 28px;
  }
}

.center {
  text-align: center;
}

.primary-button {
  display: inline-block;
  margin: 0 auto;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  background-color: $primary;
  border-radius: 24px;
  padding: 8px 24px;
  border: none;

  @include mq(sm) {
    font-size: 18px;
    padding: 10px 24px;
    letter-spacing: 1px;
  }

  @include mq(md) {
    font-size: 20px;
    padding: 10px 48px;
    border-radius: 32px;
  }
}

.heading {
  font-family: 'Zen Antique';
  color: $white;
  font-size: 30px;
  margin-bottom: 24px;
  font-weight: 400;

  @include mq(sm) {
    font-size: 30px;
  }

  @include mq() {
    font-size: 36px;
    margin-bottom: 32px;
  }
}

.margin-bottom {
  margin-bottom: 32px;

  @include mq(sm) {
    margin-bottom: 48px;
  }

  @include mq() {
    margin-bottom: 64px;
  }
}

.page-title {
  font-size: 44px;
  font-weight: 400;
  font-family: 'Zen Antique';

  @include mq(sm) {
    font-size: 52px;
  }

  @include mq() {
    font-size: 72px;
  }
}

.close-modal-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 20px;
  color: $white;
  border: none;
  background-color: $secondary;
  border-radius: 20px;
  justify-self: end;
  grid-row: 1;

  @include mq(sm) {
    grid-column: 2;
    padding: 8px 20px;
  }

  &:hover {
    cursor: pointer;
  }
}

.close-text {
  font-size: 14px;
  font-weight: 400;
}

.close-icon {
  width: 12px;
  height: 12px;
}
